html{
    margin-top: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.mhead{
    float: left;
    padding-left: 25px;
    font-size: 2em;
}
nav{
    font-size: 1.5em;
    float: right;
    margin-right: 5px;
    padding: auto;
}
nav a{
    float: left;
    display: block;
    color: white;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
}
nav a:hover{
    text-shadow: 2px 2px 4px black;
    color: black;
    background-color: antiquewhite;
    font-size: 1.80rem;
    box-shadow: 2px 2px 4px 2px white;
}
.dropdown{
    margin-top: 5px;
    float:right;
}
.dropdown button{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 5px;
    padding: auto;
}
.dropdown a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 2px 5px;
    font-size: 1.5em;
}
.dropdown .content{
    display: none;
    position: absolute;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    text-shadow: 2px 2px 4px black;
    color: black;
    background-color: antiquewhite;
    box-shadow: 2px 2px 4px 2px white;
}
@keyframes marQcc{
    0%{color:red;}  
    10%{color:orange;}
    20%{color: yellow;}
    30%{color: green;}
    40%{color: blue;}
    50%{color: indigo;}
    60%{color: purple;}
    70%{color: violet;}
    80%{color: pink;}
    90%{color: aquamarine;}
    100%{color: aqua;}
    from{
        text-shadow: 2px 2px 4px cornsilk;
    }
    to{
        text-shadow: 2px 2px 4px red;
    }
}
#Welcome{
    font: 2em sans-serif;
    font-weight: bolder;
    animation: marQcc 5s ease-in-out 0ms infinite alternate-reverse both;
}
#aura{
    border-top-left-radius:47.5%;
    border-top-right-radius:47.5%;
    margin-top: 50px;
    margin-left: 10px;
    height: 350px;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    float: left;  
}
.frc{
    justify-content:center;
    align-items:center;
    gap:8rem;
    font: 2em calibri;
}
div #paname{
    text-shadow: 2px 2px 4px rgb(245, 142, 24);
    color: rgb(255, 38, 0);
    font-weight: bold;
    font-size: 2.25rem;
}
div p #anisinfo::before{
    content:"Home"; 
    animation: Contch 10s infinite;
    text-shadow: 2px 2px 4px rgb(245, 142, 24);
    color: rgb(255, 38, 0);
    font-weight: bold;
    font-size: 2.25rem;
}
div p #anisinfo::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
}
@keyframes Contch{
    0%, 24%{content: "Home";}
    25%, 49%{content: "About";}
    50%, 74%{content: "Contact";}
    76%, 100%{content: "More";}
}
footer{ 
    position: fixed;
    bottom: 2%;
    left: 32%;
    right: 32%;
}
<<<<<<< Updated upstream
.footer{
    justify-content: center;
    align-items: center;
}
=======
footer .footer{
    text-align: center;
}
#mail{
    font-size: 1.5em;
}
#mail a{
    text-decoration: bold;
    color:rgb(247, 206, 146)
}
>>>>>>> Stashed changes
